$background-jumbotron : #59bab7;
$background-light:#f3efe0;
$background-lighter: #ffffff;
$background-dark: #434242;
$background-darker: #222222;
$font-light: #ffffff;
$font-dark:#bebebe;
$font-darker: #434242;
$font-blue: #22a39f;
$font-family-sans-serif: "Arial";

html{

    scroll-behavior: smooth;
}
a{
    color:$font-blue;
    
}
a:hover{
    text-decoration: none;
    color:$background-jumbotron;
}
.jumbotron {
    padding:0px;
    margin:0px;
    min-height: 100%;
    min-height: 100vh;
    border-radius: 0px;
    background-color: $background-jumbotron;
    color: $font-light;
    h1{
        font-size:60px
    }
    h4{
        font-weight: 1; //change this
    }
    hr{
        margin-left:auto; 
        margin-right: auto;
        border-top: 1px solid #8bcbc9;
    }
    .btn-secondary{
        background-color:#8bcbc9;
        border: $background-jumbotron;
    }
    .btn-secondary:hover{
        background-color: $background-jumbotron;
    }
}
.nav {
    background-color:$background-darker;
    top: 30%;
    right: 4%;
    z-index: 999;
    .active{
        background-color: $background-jumbotron;
        
    }
    .navbar-nav {
        a{
            margin: 5px;
            
            color: $font-light;
        }
    }
    li:hover{
        background-color: $font-blue;
       
    }
}
.nav-not-sm{
    
    position:fixed;
    width: 12%;
}

.nav-for-lg{
    
    position:fixed;
    width: 9%;
}
.nav-smol{
    padding-top:15px;
    padding-bottom:15px;
    position: absolute;
    top:100%;
    right:0%;
    width:100%;
    
}
.vertical-center{
    display: flex;
    align-items: center;
}
hr {
    display: block; 
    height: 1px;
    border: 0; 
    margin: 1em 0; 
    padding: 0;
}
.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

#main{
    padding-top: 120px;
    padding-bottom: 80px;
}

.footer{
    margin:0px;
    padding:100px 0px 100px 0px;
    background-color: $background-dark;
    color: $font-dark;
    hr{
        border-top: 1px solid #6c7272;
    }
    .row-header{
        padding:20px
    }
    ul li{
        list-style-type: none;
        margin-bottom: 20px;
    }
    a {
        color:$font-dark;
        text-decoration: none;
    }
    a:hover{
        color:$font-light;
    }
    .fa{
        font-size: xx-large;
    }
}

#contactlinks{
    padding:30px;
}
#nav {
    text-align: right;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  #alt-nav{
    top:0%;
    position: fixed;
    text-align: right;
  }

#title{
    text-align: center;
    color:$font-blue;
}

.author-pic{
    width:300px;
    height: 300px;
    border-radius: 150px 150px 0px 150px;
    margin-top: 40px;
    background-image: url("/img/personal/profile.jpg");
}