@font-face {
  font-family: 'Merry';
  src: url('../../static/fonts/Josefin/merriweather-regular-webfont.woff2') format('woff2'),
       url('../../static/fonts/Josefin/merriweather-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Merry';
  src: url('../../static/fonts/Josefin/merriweather-italic-webfont.woff2') format('woff2'),
       url('../../static/fonts/Josefin/merriweather-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Merry';
  src: url('../../static/fonts/Josefin/merriweather-bold-webfont.woff2') format('woff2'),
       url('../../static/fonts/Josefin/merriweather-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: bold;
}
@font-face {
  font-family: 'Merry';
  src: url('../../static/fonts/Josefin/merriweather-light-webfont.woff2') format('woff2'),
       url('../../static/fonts/Josefin/merriweather-light-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Merry';
  src: url('../../static/fonts/Josefin/merriweather-lightitalic-webfont.woff2') format('woff2'),
       url('../../static/fonts/Josefin/merriweather-lightitalic-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: italic;
}

@media (max-width: 500px) {
    #conttt {
      font-size: 16px; } 
      #conttt div :first-child::first-letter{
 
        font-size: 70px;
       
      }}
  
  @media (min-width: 500px) and (max-width: 900px) {
    #conttt {
      font-size: 17px; } 
      #conttt div :first-child::first-letter{

        font-size: 72px;
       
      }}
  
  @media (min-width: 900px) {
    #conttt {
      font-size: 18px; } 
      #conttt div :first-child::first-letter{
        
        font-size: 74px;
        
      }}
  
  html {
    scroll-behavior: smooth; 
    }
  
    body{
      font-family: 'Merry';
      font-weight: normal;
      color: black;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
#conttt{
  line-height: 0.77cm;
}
#conttt div :first-child::first-letter{
  font-family: sans-serif;
  float       : left;
  margin      : 0.1em 0.153em 0.14em 0;
  color: #59bab7;
}
  a {
    color: #22a39f; }
  
  a:hover {
    text-decoration: none;
    color: #59bab7; }
  
  .jumbotron {
    
    padding: 0px;
    margin: 0px;
    min-height: 100%;
    min-height: 100vh;
    border-radius: 0px;
    text-align: center;
    /* background: no-repeat center center fixed url("/img/personal/jumbotron.jpeg");
    background-size: cover;  */
  }
  .jumbotron .bgim{
    width:100%; 
    height:100%;
    position: absolute;
    overflow: hidden;
    text-align: center;
  }
    .jumbotron #hd-jumbo {
      
      display: inline-block;
      }
    .jumbotron .overlay {
      background-color: #22a39f;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      opacity: 0.75;
      z-index: 0; }
    .jumbotron h2 {
      font-size: 60px; }
    .jumbotron h5 {
      font-weight: 1; }
    .jumbotron hr {
      margin-left: auto;
      margin-right: auto;
      border-top: 1px solid #8bcbc9; }
  
  @keyframes example {
    0% {
      background-color: #8bcbc9; }
    50% {
      background-color: #59bab7; }
    100% {
      background-color: #8bcbc9; } }
    .jumbotron .btn-secondary {
      animation-name: example;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      border: #59bab7; }
    .jumbotron .btn-secondary:hover {
      animation-name: none;
      background-color: lightseagreen; }
  
  .active {
    background-color: #59bab7; }

    .dropdown-menu 
    {
      display: block;
      visibility: hidden;
      opacity:0;
      transform: translateY(50px);
      transition:.5s ease all;
    }
    .dropdown-menu.show 
    {
      display: block;
      visibility: visible;
      opacity:1;
      transform: translateY(0px);
      transition:.5s ease all;
    }
  .nav {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222222;
    top: 34%;
    right: 4%;
    z-index: 999; }
    .nav ul{
      margin:0px
    }
    .nav li{
      margin-bottom: 0px;
    }
    .nav .navbar-nav a {
      display: block;
      margin: 0px;
      padding:13px;
      color: #ffffff; }
    .nav li:hover {
      background-color: #22a39f; }
  
  .nav-not-sm {
    position: fixed;
    width: 12%; }
  
  .nav-for-lg {
    position: fixed;
    width: 9%; }
  
  .nav-smol {
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    top: 100%;
    right: 0%;
    width: 100%; }
  
  .vertical-center {
    display: flex;
    align-items: center; }
  
  #bloghead {
    font-family: 'Merry';
    margin-top: 100px;
    margin-bottom: 80px; }
    #bloghead h1 {
      color: #22a39f;
      font-size: 45px; }
    #bloghead #blognav {
      border-radius: 0px;
      background-color: #434242; }
      #bloghead #blognav a {
        display: block;
        color: white; }
      #bloghead #blognav a:hover {
        color: #fffffff1; }
      #bloghead #blognav .col-4:hover {
        background-color: #22a39f; }
  hr {
    display: block;
    height: 1px;
    border: 1;
    margin: 1em 0;
    padding: 0; }
  
  .affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important; }
  
  #main {
    padding-bottom: 80px; }
  
  #mainlist {
    list-style-type: none; }
  
  .footer {
    margin: 0px;
    padding: 100px 0px 100px 0px;
    background-color: #434242;
    color: #bebebe; }
    .footer hr {
      border-top: 1px solid #6c7272; }
    .footer .row-header {
      padding: 20px; }
    .footer ul li {
      list-style-type: none;
      margin-bottom: 20px; }
    .footer a {
      color: #bebebe;
      text-decoration: none; }
    .footer a:hover {
      color: #ffffff; }
    .footer .fa {
      font-size: xx-large; }
  
  #contactlinks {
    padding: 30px; }
  
  #nav {
    text-align: right; }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%; }
  
  #alt-nav {
    top: 0%;
    position: fixed;
    text-align: right; }
  
  #title {
    text-align: center;
    color: #22a39f;
    padding-bottom: 60px; }
  
  .author-pic {
    width: 300px;
    height: 300px;
    border-radius: 150px 150px 0px 150px;
    margin-top: 40px;
    overflow: hidden;
     }
  
  .card {
    background-color: #f3efe0;
    margin-bottom: 30px; }
    .card .card-title {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px;
      background-color: #f3efe0;
      color: #59bab7; }
    .card .card-body {
      padding: 0px; }
      .card .card-body .imgcont {
        overflow: hidden; }
        .card .card-body .imgcont #date {
          font-size: small;
          color: #ffffff;
          padding: 3px;
          background-color: #59bab7; }
        .card .card-body .imgcont img {
          transition: transform .4s ease; }
      .card .card-body .card-content {
        margin-left: 20px;
        margin-right: 20px; }
        .card .card-body .card-content #date {
          color: #434242;
          font-size: x-small; }
  
  .card:hover .card-title {
    color: #22a39f; }
  
  .card:hover .imgcont #date {
    background-color: #22a39f; }
  
  .card:hover .imgcont img {
    transform: scale(1.04);
    transform-origin: 50% 50%; }
  
  .card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    margin-bottom: 5px; }