---
layout: default
---
<div class="container-fluid" id="#navigation">
    <nav class="nav nav-sm nav-smol nav-justified d-block d-md-none" id="alt-nav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" style="color:white">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav menu">
                <li class="nav-item Home-marker"><a class="nav-link" href="/index.html">Home</a></li>
                <li class="nav-item Blog-marker active"><a class="nav-link" href="/index.html#main">Blog</a></li>
                <li class="nav-item Contact-marker"><a class="nav-link" href="#contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="/about.html">About</a></li>
            </ul>
        </div>
    </nav>

    <nav class="nav nav-sm nav-not-sm nav-justified d-none d-md-block d-lg-none">
        <ul class="navbar-nav menu">
            <li class="nav-item"><a class="nav-link" href="/index.html">Home</a></li>
            <li class="nav-item Blog-marker active"><a class="nav-link" href="/index.html#main">Blog</a></li>
            <li class="nav-item Contact-marker"><a class="nav-link" href="#contact">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="/about.html">About</a></li>
        </ul>
    </nav>
    <nav class="nav nav-sm nav-for-lg nav-justified d-none d-lg-block">
        <ul class="navbar-nav menu">
            <li class="nav-item"><a class="nav-link" href="/index.html">Home</a></li>
            <li class="nav-item Blog-marker active"><a class="nav-link" href="/index.html#main">Blog</a></li>
            <li class="nav-item Contact-marker"><a class="nav-link" href="#contact">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="/about.html">About</a></li>
        </ul>
    </nav>
</div>
<section class="Blog"  id="main">
    <div class="text-center" id="bloghead">
        <h1><strong>{{page.title}}</strong></h1>
        <br>
        <div class="col-10 offset-1 col-sm-4 offset-sm-4" id="blognav">
            {{content}}
        </div>
    </div>
    <div class="col-sm-8 offset-sm-2">
        <div class="row">
            {% for post in site.categories[page.title]%}
            <div class="col-md-6">
                <div class="card hoverable">
                    <div class="card-body">
                        <div class="imgcont">
                            <img class="card-img-top" src="{{ post.image }}"/>
                            <div id="date">{{post.date | date: "%d %B %Y" }}</div>
                        </div>
                            <div class="card-title">
                                <p href="{{ post.url }}" style="font-size: xx-large;">{{ post.title }}</p>
                            </div>
                            <div class="card-content">
                                <p>{{ post.highlight }}</p>
                            </div>  
                            <a href="{{ post.url }}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            {%endfor %}
        </div>
    </div>
</section>