<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Bootstrap CSS -->
        <!--build:css /css/main.css-->
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../node_modules/bootstrap-social/bootstrap-social.css">
        <link rel="stylesheet" href="../css/styles.css">
        <!--endbuild-->

        <title>Home</title>
    </head>
    <body>
        <header class="jumbotron vertical-center" id="#home">
            <div class="container">
                <div class="row row-header text-center">
                    <div class="col-12">
                        <h1><strong>Pratik Luitel</strong></h1>
                    </div>
                    <div class="col-12 d-none d-sm-block">
                        <hr width = 350px/>
                    </div>
                    <div class="col-12 d-block d-sm-none">
                        <hr width=90%/>
                    </div>
                    <div class="col-12">
                        <h4>Former Child</h4>
                    </div>
                    <div class="col-12">
                        <br>
                    </div>
                    <div class="col-12">
                        <h4><a href="#main"><button class="btn btn-secondary"><span class="fa fa-arrow-down"></button></span></a></h4>
                    </div>
                </div>
            </div>
        </header>
        <div class="container-fluid" id="#navigation">
            <nav class="nav nav-sm nav-smol nav-justified d-block d-md-none" id="nav">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" style="color:white"> 
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="Navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="index.html#main">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="./about.html">About</a></li>
                    </ul>
                </div>
            </nav>
        
            <nav class="nav nav-sm nav-not-sm nav-justified d-none d-md-block d-lg-none">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html#main">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="./about.html">About</a></li>
                </ul>
            </nav>
            <nav class="nav nav-sm nav-for-lg nav-justified d-none d-lg-block">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html#main">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="./about.html">About</a></li>
                </ul>
            </nav>
        </div>
        {{ content }}
        <footer class="footer" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-8 offset-sm-2">
                        <div class="row row-header justify-content-center">
                            <h1 style="color:white">Links</h1>
                        </div>
                        <hr>
                        <div class="row row-content" id="contactlinks">
                            <div class="col-12 col-sm-6">
                                <ul>
                                    <li>
                                        <a href="mailto:pluitel11@gmail.com" target="_blank">
                                            <span class="fa fa-envelope"></span>&emsp;&emsp;Gmail</a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/in/pratik-luitel-639a58175/" target="_blank">
                                            <span class="fa fa-linkedin"></span>&emsp;&emsp;
                                            Linkedin</a>
                                    </li>
                                    <li>
                                        <a href="https://www.goodreads.com/user/show/54605032-pratik-luitel" target="_blank">
                                            <span class="icon-stack">
                                                <i class="icon-sign-blank icon-stack-base"></i>
                                                <i class="icon-light"><span style="font-family:helvetica; font-size: x-large;">g</span></i>
                                            </span>&emsp;&emsp;&#8239;&#8239;
                                            Goodreads</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col col-sm">
                                <ul>
                                    <li>
                                        <a href="https://www.github.com/pratikluitel" target="_blank">
                                            <span class="fa fa-github"></span>&emsp;&emsp;&#8239;Github</a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com/pratikHluitel" target="_blank">
                                            <span class="fa fa-twitter"></span>&emsp;&emsp;&#8239;Twitter</a>
                                    </li>
                                    <li>
                                        <a href="https://soundcloud.com/pratik_luitel" target="_blank">
                                            <span class="fa fa-soundcloud"></span>&emsp;&#8239;
                                            Soundcloud</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <br>
                <div class="row row-content justify-content-center">
                    <p>&#169; Pratik Luitel, 2020</p>
                </div>
            </div>
        </footer>
        <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
        <!--build:js /js/main.js-->
        <script src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
        <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../js/sticky-nav.js"></script>
        <!--endbuild-->
    </body>

</html>